body, html {
    height: 100%;
    margin: 0;
}

.background {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1505059152565-42971f574ade?ixlib=rb-0.3.5&s=46c7f73707ecbd2ce4be03fcc9b87dc3&auto=format&fit=crop&w=2538&q=80");
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadein 3s ease-in-out;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}



.background-fade {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;

}

.header {
	font-family: 'Cabin Sketch', cursive;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 35%;
}

h1 {
	color: white;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    animation: scalein 2s ease 2s;
}

.button {
    display: flex;
    justify-content: center;
    position: relative;
    top: 40%;   
}

.btn-info {
    background-color: #1a899a;
    border-radius: 2rem;
    padding-top: 8px;
    opacity: 0.9;
    font-family: 'Cabin Sketch', cursive;
    font-weight: 400;
}

